{
  "presets": [
    [
      "es2015",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"]
    }],
    "transform-es2015-modules-commonjs",
    "syntax-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
